<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<div class="container">
<h2 class="text-center mt-4">
<td><%= link_to "Click here to provide your basic details", new_student_path(@student) %></td></br></br>


</div>